################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Telegram_Bot_LR/obj
/Telegram_Bot_LR/bin/Debug/net6.0
